@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --main-color: #1F1D2A;
  --second-color: #37364E;
  --third-color: #4363D1;
  --gray-color: #C0C0C0;
  --white-color: #D9D9D9;
}

body {
  background-color: var(--main-color);
}

.center {
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.container {
  padding: 40px;
  background-color: var(--second-color);
  max-width: 500px;
  border-radius: 20px;
}

.container h1 {
  font-weight: 600;
  color: white;
  margin-bottom: 20px;
}

.field {
  margin-bottom: 10px;
}

.field label {
  color: #26253f;
  margin-bottom: 5px;
}

.field input,
button {
  width: 100%;
  padding: 17px;
  border-radius: 50px;
  background-color: #3d3c5c;
  border: 1px solid #3d3c5c;
}

.field label span {
  color: var(--third-color);
}

.field label:not(:last-child) {
  display: block;
}

.field button {
  background-color: var(--third-color);
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  cursor: pointer;
}

.redirect {
  padding: 5px;
  margin-top: 10px;
  color: white;
  font-weight: 700;
}

.redirect span {
  color: var(--third-color);
  cursor: pointer;
  margin-left: 5px;
}


.checkbox {
  margin-top: 20px;
}

.checkbox input {
  margin-right: 10px;
}

input {
  color: white;
}

.valid {
  font-size: 18px;
  color: green;
  margin-bottom: -2px;
  margin-left: 10px;
}

.invalid {
  font-size: 17px;
  color: red;
  margin-bottom: -2px;
  margin-left: 10px;
}

.hide {
  display: none;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #291e33;
  color: #fff;
  padding: 10px 5px;
  position: relative;
  bottom: -10px;
  margin-bottom: 20px;
}

.instructions li {
  list-style: none;
  margin-bottom: 5px;
  margin-left: 5px;
}

form {
  position: relative;
}

.showPassbtn,
.showConfirmPassbtn {
  position: absolute;
  right: 20px;
  top: 210px;
  z-index: 100;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.showConfirmPassbtn{
  top: 294px;
}